<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="./main.js"></script>
</head>

<body>
    <h1>Agregar Cita</h1>
    <form action="/api/citas/horarios" method="post">
        <label for="date">Fecha:</label>
        <input type="date" id="date" name="date" required>

        <label for="doctor">Medico:</label>
        <select name="doctor" required>
            <option value="">Seleccionar</option>
            <%doctors.forEach((doctor)=>{ %>
                <option value=<%=doctor._id%> > <%=doctor.name+" ---"+doctor.speciality+"" %> </option>
            <% }) %>
        </select>

        <div><input type="submit" name="bnEnviar" id="bnEnviar" value="Crear Cita"></div>
        
    </form>


    <table>
        <tr>
          <th>Paciente</td>
          <th>Fecha</td>
          <th>Hora</td>
          <th>Especialidad</td>
          <th>Medico</td>
        </tr>

        <%citas.forEach((cita)=>{ %>
        <tr>
          <td><%=cita.patient.name +" "+cita.patient.lastname%> </td>
          <td><%=cita.datetime.toISOString().split("T")[0]%> </td>
          <td><%=(cita.datetime.toISOString().split("T")[1]).split(".")[0]%> </td>
          <td><%=cita.doctor.speciality%> </td>
          <td><%=cita.doctor.name%> </td>
          
          <td>
            <a  href="cancelarCita/cita._id">Eliminar</a>
          </td>
        </tr>
        <% }) %>
      </table>

      



</body>

</html>